html, body, .p1, .p2, .p3, .p4{
    height: 100%;
}

.p1 {
    background: url(bg001.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.p2, .p4 {
    background-color: #202020;
}

.p3 {
    background: url(bg002.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-dark {
    background-color: transparent !important;
}

.fixed-top .container {
    border-bottom: 1px solid #808080;
}

.fixed-top .navbar-brand, .fixed-top  .navbar-brand:hover {
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    color: #FF0000 !important;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    color: #C0C0C0 !important;
}

.nav-link:hover {
    color: #FFFFFF !important;
    border-bottom: 1px solid #FFFFFF;
}

.navbar-dark .navbar-toggler {
    border-color: #FFFFFF;
}

.fixed-bottom .container {
    border-top: 1px solid #808080;
}

.fixed-bottom .navbar-brand, .fixed-bottom  .navbar-brand:hover {
    font-size: 10px;
    color: #E0E0E0 !important;
}

@media only screen and (max-width: 768px) {
    .p1 {
        background: url(bg001.jpg) no-repeat left center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .p3 {
        background: url(bg002.jpg) no-repeat right center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .fixed-top .navbar-brand, .fixed-top .navbar-brand:hover {
        font-size: 25px;
    }
}