html {
    background: url(bg001.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-dark {
    background-color: transparent !important;
}

nav .container {
    border-bottom: 1px solid #808080;
}

.navbar-brand, .navbar-brand:hover {
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    color: #FF0000 !important;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    color: #C0C0C0 !important;
}

.nav-link:hover {
    color: #FFFFFF !important;
    border-bottom: 1px solid #FFFFFF;
}

.navbar-dark .navbar-toggler {
    border-color: #FFFFFF;
}

@media only screen and (max-width: 768px) {
    html {
        background: url(bg002.jpg) no-repeat left center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .navbar-brand, .navbar-brand:hover {
        font-size: 25px;
    }
}